.DS_Store
.Rhistory

/data/.Rhistory
/data/.DS_Store

/src/.Rhistory
/src/.DS_Store
/src/scratch
/src/swm

/data
/figs

*.nc
*.RData
*.rds
*.cmd
*.zip
*.txt
*.jpg
*.png
/src/__pycache__*
